h1 {
  color: #115737;
}

h1, h2, h3, h4, h6, legend {
    margin-top: 0px;
    font-weight: 700;
    font-family: "National","Segoe WP Semibold","Nimbus Sans L",Arial,"Helvetica Neue","Helvetica",sans-serif;
    color: #115737;
 }

h5 { 
	margin-top: 0px;
    font-weight: 700;
    font-family: "National","Segoe WP Semibold","Nimbus Sans L",Arial,"Helvetica Neue","Helvetica",sans-serif;
    color: #343131;
}

a:visited {
    color: #B2A67F;
}

.wy-nav-top {
    background: #115737;
    color: #fff;
    padding: 0.4045em 0.809em;
    position: relative;
    line-height: 50px;
    text-align: center;
    font-size: 100%;
    *zoom: 1;
}

.wy-side-nav-search {
    z-index: 200;
    background-color: #115737;
    text-align: center;
    padding: 0.809em;
    display: block;
    color: #115737;
    margin-bottom: 0.809em;
}

.testcase {
    background-color: lightgrey;
    text-align: center;
}

body {
    font-family: "Segoe WP","Nimbus Sans L",Arial,"Helvetica Neue","Helvetica",sans-serif;
    font-weight: normal;
    color: #404040;
    min-height: 100%;
    overflow-x: hidden;
    background: #edf0f2;
}

code, .rst-content tt {
    white-space: nowrap;
    max-width: 100%;
    background: #ededeb;
    border: solid 1px #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    color: #333;
    overflow-x: auto;
}

figure {
    max-width: 100%;
    background: #ededeb;
    border: solid 1px #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    color: #333;
    overflow-x: auto;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
    transition: 0.3s;

    width: 30%;          /* Adjust based on your preference */
    max-width: 300px;    /* Optional. Sets a max width for the card */
    margin: 1% 1%;       /* Adds a little spacing between cards */
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }